<aside id="aside" class="menu-sidebar" style="text-align: center">
    <div class="logo-div">
        <a href="/">
           <img src="/image/logo.png" alt="logo" class="logo">
            </a>
    </div>

    <div class="aside-container">
        <div class="aside-title">
        <span class="material-icons">view_agenda</span>
        <h7 style="white-space: nowrap">Your Music</h7>
        </div>
        <div id="liked" class="liked-list">

        </div>

    </div>

</aside>