<div class="main-header">
    <div style="display: flex">
    <label class="search-bar">
        <span class="material-icons">search</span>
        <form method="GET" style="margin-top: 5px" action="/search">
    <input name="q" placeholder="Search">
        </form>
    </label>
        <span class="aside-icon material-icons" style="font-size: 37px; top: 0px" onclick="show()">
     list
    </span>
    </div>

    <span class="material-icons">account_circle</span>

</div>