<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Music Stream App</title>
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico" />
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dela+Gothic+One">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<body onscroll="scroll()">

{{> aside}}

<div class="main-container">
<div class="main-page">
    {{> header}}

    {{{body}}}


</div>
    {{> player}}
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
<script>
    const mainContent = document.getElementById("main-content")
    mainContent.addEventListener('mouseenter', function(){
       mainContent.style.setProperty("--check-primary","#5a5a5a");
    })
    mainContent.addEventListener('mouseleave', function(){
        mainContent.style.setProperty("--check-primary","transparent");
    });

    document.getElementById('slider').value = 0;

</script>


</html>